**
!index.html
!Cultura Coffee - прайс.html
!Cultura Coffee - прайс (standalone).html
!screenshots/
!screenshots/**
!uploads/
!uploads/**
!Dockerfile
!dockhost.yaml
!nginx-default.conf
!.dockerignore
